modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["npm", "run", "build"]
run = ["sh", "-c", "NODE_ENV=development npm run dev"]

[[ports]]
localPort = 80
externalPort = 3001

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 24678
externalPort = 80

[packager]
language = "nodejs"
  [packager.features]
  packageSearch = true
  guessImports = true
  enabledForHosting = false

[languages]
  [languages.javascript]
  pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
    [languages.javascript.languageServer]
    start = "typescript-language-server --stdio"

[workflows]
